body {
  background-color: black;
}

/* sidebar */
/* innerbar */

div.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
}

div.sidebar div.innerbar {
  width: 260px;
}

div.sidebar div.outerbar {
  width: 75px;
}

div.innerbar .navbar ul li {
  position: relative;
  top: 200px;
  /* display: none; */
}
